@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 1250px;
    margin: auto;
}

:root {
    --bg-py: #fbaf32;
    --bg-sy: #3B3663;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 90%;
    }
}


nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.logo {
    width: 20%;
    height: 30px;
    flex: 1;
    display: flex;
    white-space: nowrap;
    font-size: 13px;
    color: black;
}

.nav-container {
    width: 35%;
    height: 30px;
    font-weight: 450;
    color: black;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.nav-items {
    padding: 3px;
    position: relative;
}

.nav-items::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #6a6a6a;
    transition: 0.3s;
}

.nav-items:hover::after {
    width: 80%;
    cursor: pointer;
}

.nav-items:hover {
    color: #6a6a6a;
    transition: 0.3s;
}


.home_page {
    width: 100%;
    height: 700px;
    background-image: url("./img/mesh-gradients.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}

.home_page span {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.firstpage_text {
    font-size: 45px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}